
:root
{
    --primary-background:#1a548c;
}
::placeholder
{
    color:#65b3eb;
}

body
{
    background:#f0f4f8;
}
i
{
    margin-right:10px;
    
}
input[type="text"]
{
   margin:0px 10px 0px 10px; 
   padding:10px;
   font-size: 2rem;
   background:var(--primary-background);
   border:none;
   color:white;
}

input[type="checkbox"]
{
    width:30px;
    height:30px;
    margin-left:20px;
    background-color: #eee;
}

input[type="image"]
{
    position:absolute;
    left:0px;
    
     
}

#addTask
{
    color:white;
    font-size: 1.2rem;
    padding:10px 10px 0px 10px;
   
}

.icon
{
    width:30px;
    height:30px;
}
.wrapper
{
    border:1px solid red;
    width: 60%;
    height:500px;
    margin-left:auto;
    margin-right:auto;

}

.task-info-container
{
    border:1px solid red;
    width:75%;
    margin-left:0px;
    display: flex;
    flex-direction: column;
}
.new-task
{
    width:95%;
    background:var(--primary-background);
    height:100px;
    margin:20px;
    border-radius: 5px;
    display:flex;
   align-items: center;
   
    
}

.btn-task
{
   padding:20px 30px;
   border:none;
   background:#8eedd1;
   font-size:1.3rem;
   margin-left:10px;

}

.task
{
 border:1px solid blue;
 width:95%;
 height:300px;
 margin:20px;
 display:flex;
 flex-direction: column;
 
}

.task-item
{
    width:100%;
    border-radius:5px;
    background:white;
    height:70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    position:relative;
    
}

.label-task
{
    font-size:2rem;
}